<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.posolft.manage.dao.SysRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="cn.posolft.manage.pojo.SysRoleResource" >
    <result column="ROLE_ID" property="roleId" jdbcType="CHAR" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.posolft.manage.pojo.SysRoleResource" >
    insert into sys_role_resource (ROLE_ID, RESOURCE_ID)
    values (#{roleId,jdbcType=CHAR}, #{resourceId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.posolft.manage.pojo.SysRoleResource" >
    insert into sys_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertByList" parameterType="java.util.List">
    insert into sys_role_resource (role_id,resource_id)
    values 
    <foreach collection="list" item="item" index="index" separator="," >
        (#{item.roleId},#{item.resourceId})
    </foreach>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_role_resource
    where role_id = #{id,jdbcType=CHAR}
  </delete>
</mapper>